---
// Todo lo que sea importación va aquí dentro
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&family=Inter:wght@400;600&display=swap" rel="stylesheet">
        <title>The Creation Society</title>
    </head>
    <body class="bg-creation-dark text-creation-cream">
        <slot />
    </body>
</html>

<style is:global>
    /* Eliminamos los márgenes por defecto para que Tailwind tome el control total */
    html,
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>